In [5]:
!pip3 install requests

Defaulting to user installation because normal site-packages is not writeable
Collecting requests
  Downloading requests-2.31.0-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 2.4 MB/s  eta 0:00:01
Collecting idna<4,>=2.5
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 170 kB/s  eta 0:00:01
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.2.0-py3-none-any.whl (46 kB)
     |████████████████████████████████| 46 kB 4.9 MB/s  eta 0:00:01
Collecting urllib3<3,>=1.21.1
  Downloading urllib3-2.0.4-py3-none-any.whl (123 kB)
     |████████████████████████████████| 123 kB 71.8 MB/s eta 0:00:01
Collecting certifi>=2017.4.17
  Downloading certifi-2023.7.22-py3-none-any.whl (158 kB)
     |████████████████████████████████| 158 kB 41.5 MB/s eta 0:00:01
Installing collected packages: idna, charset-normalizer, urllib3, certifi, requests
  WARNING: The script normalizer is installed in '/Users/Mehrnaz/Library/Python/3.8/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed certifi-2023.7.22 charset-normalizer-3.2.0 idna-3.4 requests-2.31.0 urllib3-2.0.4
WARNING: You are using pip version 20.2.3; however, version 23.2.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [6]:
!pip3 install bs4

Defaulting to user installation because normal site-packages is not writeable
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.12.2-py3-none-any.whl (142 kB)
     |████████████████████████████████| 142 kB 9.4 MB/s eta 0:00:01
Collecting soupsieve>1.2
  Downloading soupsieve-2.4.1-py3-none-any.whl (36 kB)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1273 sha256=b71d0cb17439b8b8eaf759b9c456059a4bc70602d95bbc5c50640a9af9f23925
  Stored in directory: /Users/Mehrnaz/Library/Caches/pip/wheels/75/78/21/68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.12.2 bs4-0.0.1 soupsieve-2.4.1
WARNING: You are using pip version 20.2.3; however, version 23.2.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [1]:
import requests
from bs4 import BeautifulSoup

In [10]:
#Question1

page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [11]:
soup = BeautifulSoup(page.content)

In [13]:
page

In [20]:
headers = []

for i in soup.find_all('span', class_="mw-headline"):
    headers.append(i.text)

In [15]:
import pandas as pd

In [23]:
headers_data = pd.DataFrame({'WikiHeaders': headers})

In [24]:
#Question1 - Output

headers_data

                     WikiHeaders
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

In [25]:
#Question2


page2 = requests.get('https://presidentofindia.nic.in/index.php/former-presidents')

In [26]:
page2

In [42]:
soup2= BeautifulSoup(page2.content)

In [47]:
presidents = []

for i in soup2.find_all('div', class_="desc-sec"):
    presidents.append(i.text.replace('\n',''))

In [48]:
presidents_list = pd.DataFrame({'Former Presidents and Term': presidents})

In [49]:
#Question2 _ Output

presidents_list

                           Former Presidents and Term
0         Shri Ram Nath Kovind14th President of India
1        Shri Pranab Mukherjee13th President of India
2   Smt Pratibha Devisingh Patil12th President of ...
3       DR. A.P.J. Abdul Kalam11th President of India
4         Shri K. R. Narayanan10th President of India
5      Dr Shankar Dayal Sharma9th  President of India
6           Shri R Venkataraman8th President of India
7              Giani Zail Singh7th President of India
8     Shri Neelam Sanjiva Reddy6th President of India
9      Dr. Fakhruddin Ali Ahmed5th President of India
10  Shri Varahagiri Venkata Giri4th President of I...
11             Dr. Zakir Husain3rd President of India
12  Dr. Sarvepalli Radhakrishnan2nd President of I...
13          Dr. Rajendra Prasad1st President of India

In [141]:
#Question3

page3 = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [142]:
page3

In [143]:
soup3 = BeautifulSoup(page3.content)

In [191]:
names = []

for i in soup3.find_all('span', class_="u-hide-phablet"):
    names.append(i.text)

In [192]:
matches_scores = []

for i in soup3.find_all('td', class_="table-body__cell u-center-text"):
    matches_scores.append(i.text)

In [193]:
ratings = []
for i in soup3.find_all('td', class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)

In [194]:
matches = matches_scores[0:18:2]

In [195]:
scores = matches_scores[1:19:2]

In [196]:
names = names[1:10]

In [197]:
ratings = ratings[0:9]

In [198]:
print(len(matches),len(names),len(scores),len(ratings))

9 9 9 9

In [226]:
top10 = pd.DataFrame({'Teams': names, 'Matches': matches, 'Scores': scores, 'Ratings': ratings})

In [227]:
winner_row = pd.DataFrame({'Teams': "Austrailia", 'Matches': 23, 'Scores': 2714, 'Ratings': 118}, index=[0])

In [228]:
top10 = pd.concat([winner_row,top10]).reset_index(drop=True)

In [229]:
#Question3a _ output

top10

          Teams Matches Scores Ratings
0    Austrailia      23   2714     118
1      Pakistan      20  2,316     116
2         India      36  4,081     113
3   New Zealand      27  2,806     104
4       England      24  2,426     101
5  South Africa      19  1,910     101
6    Bangladesh      28  2,661      95
7   Afghanistan      16  1,404      88
8     Sri Lanka      32  2,794      87
9   West Indies      38  2,582      68

In [4]:
page4 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

In [5]:
soup4= BeautifulSoup(page4.content)

In [6]:
players= [] 
for i in soup4.find_all('td', class_="table-body__cell name"):
    players.append(i.text.replace('\n',''))

In [7]:
teams = []
for i in soup4.find_all('span', class_="table-body__logo-text"):
    teams.append(i.text)

In [8]:
ratings = []
for i in soup4.find_all('td', class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)

In [9]:
top_player = pd.DataFrame({'Name':'Babar Azam' , 'Team':'PAK' , 'Rating': 886 }, index=[0])

In [10]:
top10 = pd.DataFrame({'Name': players[0:9] , 'Team': teams[0:9] , 'Rating': ratings[0:9] })

In [11]:
top10 = pd.concat([top_player,top10]).reset_index(drop=True)

In [12]:
#Question3b _ output

top10

                    Name Team Rating
0             Babar Azam  PAK    886
1  Rassie van der Dussen   SA    777
2           Fakhar Zaman  PAK    755
3            Imam-ul-Haq  PAK    745
4           Shubman Gill  IND    743
5           Harry Tector  IRE    726
6           David Warner  AUS    726
7        Quinton de Kock   SA    718
8            Virat Kohli  IND    705
9            Steve Smith  AUS    702

In [23]:
top10_bowl = pd.DataFrame({'Name': players[9:18] , 'Team': teams[9:18] , 'Rating': ratings[9:18] })

In [24]:
top_bowl_player = pd.DataFrame({'Name':'Josh Hazlewood' , 'Team':'AUS' , 'Rating': 705 }, index=[0])

In [25]:
top10_bowl = pd.concat([top_bowl_player,top10_bowl]).reset_index(drop=True)

In [26]:
#Question3c _ output

top10_bowl

               Name Team Rating
0    Josh Hazlewood  AUS    705
1    Mitchell Starc  AUS    686
2       Rashid Khan  AFG    682
3    Mohammed Siraj  IND    670
4        Matt Henry   NZ    667
5  Mujeeb Ur Rahman  AFG    661
6       Trent Boult   NZ    660
7        Adam Zampa  AUS    652
8    Shaheen Afridi  PAK    630
9     Kuldeep Yadav  IND    622

In [27]:
#Question4

page5 = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [28]:
page5

In [29]:
soup5 = BeautifulSoup(page5.content)

In [30]:
names = []

for i in soup5.find_all('span', class_="u-hide-phablet"):
    names.append(i.text)

In [31]:
matches_scores = []

for i in soup5.find_all('td', class_="table-body__cell u-center-text"):
    matches_scores.append(i.text)

In [32]:
ratings = []
for i in soup5.find_all('td', class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)

In [34]:
top10_women = pd.DataFrame({'Teams': names[1:10], 'Matches': matches_scores[0:18:2], 'Scores': matches_scores[1:19:2], 'Ratings': ratings[0:9]})

In [35]:
winner_row = pd.DataFrame({'Teams': "Austrailia", 'Matches': 26, 'Scores': 4290, 'Ratings': 165}, index=[0])

In [36]:
top10_women = pd.concat([winner_row,top10_women]).reset_index(drop=True)

In [37]:
#Question4a _ output

top10_women

          Teams Matches Scores Ratings
0    Austrailia      26   4290     165
1       England      31  3,875     125
2  South Africa      26  3,098     119
3         India      30  3,039     101
4   New Zealand      28  2,688      96
5   West Indies      29  2,743      95
6    Bangladesh      17  1,284      76
7     Sri Lanka      12    820      68
8      Thailand      13    883      68
9      Pakistan      27  1,678      62

In [38]:
page6 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

In [39]:
page6

In [40]:
soup6 = BeautifulSoup(page6.content)

In [43]:
players= [] 
for i in soup6.find_all('td', class_="table-body__cell name"):
    players.append(i.text.replace('\n',''))

In [45]:
teams = []
for i in soup6.find_all('span', class_="table-body__logo-text"):
    teams.append(i.text)

In [47]:
ratings = []
for i in soup6.find_all('td', class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)

In [48]:
top10_batwomen = pd.DataFrame({'Name': players[0:9] , 'Team': teams[0:9] , 'Rating': ratings[0:9] })

In [49]:
top_batwoman = pd.DataFrame({'Name':'Natalie Sciver-Brunt','Team':'ENG' , 'Rating': 803 }, index=[0])

In [53]:
top10_batwomen = pd.concat([top_batwoman,top10_batwomen]).reset_index(drop=True)

In [54]:
#Question4b _ output

top10_batwomen

                   Name Team Rating
0  Natalie Sciver-Brunt  ENG    803
1   Chamari Athapaththu   SL    758
2           Beth Mooney  AUS    751
3       Laura Wolvaardt   SA    732
4       Smriti Mandhana  IND    708
5          Alyssa Healy  AUS    702
6      Harmanpreet Kaur  IND    694
7          Ellyse Perry  AUS    686
8           Meg Lanning  AUS    682
9       Stafanie Taylor   WI    618

In [63]:
top10_allround_women = pd.DataFrame({'Name': players[18:28] , 'Team': teams[18:28] , 'Rating': ratings[18:28] })

In [64]:
top_allround_woman = pd.DataFrame({'Name':'Natalie Sciver-Brunt','Team':'ENG' , 'Rating': 421 }, index=[0])

In [65]:
top10_allround_women = pd.concat([top_allround_woman,top10_allround_women]).reset_index(drop=True)

In [66]:
#Question4c _ output

top10_allround_women

                   Name Team Rating
0  Natalie Sciver-Brunt  ENG    421
1      Ashleigh Gardner  AUS    389
2       Hayley Matthews   WI    382
3        Marizanne Kapp   SA    349
4          Ellyse Perry  AUS    329
5           Amelia Kerr   NZ    328
6         Deepti Sharma  IND    312
7         Jess Jonassen  AUS    241
8         Sophie Devine   NZ    233
9              Nida Dar  PAK    232

In [2]:
#Question5

page7 = requests.get('https://www.cnbc.com/world/?region=world')

In [3]:
page7

In [4]:
soup7 = BeautifulSoup(page7.content)

In [5]:
headlines = []
for i in soup7.find_all('a', class_="LatestNews-headline"):
    headlines.append(i.text)

In [8]:
times = []
for i in soup7.find_all('time', class_="LatestNews-timestamp"):
    times.append(i.text)

In [13]:
links = []
for i in soup7.find_all('a', class_="LatestNews-headline"):
    links.append(i.get('href'))

In [16]:
latest_news = pd.DataFrame({'Headlines': headlines, 'Publish Time': times, 'News_link': links})

In [18]:
#Question5 _ output

latest_news

,Headlines,Publish Time,News_link
0,"If you use these 7 toxic phrases, you might ha...",7 Min Ago,https://www.cnbc.com/2023/08/17/toxic-phrases-...
1,This company is the No. 1 software player in A...,10 Min Ago,https://www.cnbc.com/2023/08/17/jim-cramer-say...
2,Google A.I. researcher left to build a startup...,26 Min Ago,https://www.cnbc.com/2023/08/17/transformer-co...
3,Bitcoin falls near two-month low after Fed min...,34 Min Ago,https://www.cnbc.com/2023/08/17/bitcoin-nears-...
4,UK defense contractor BAE buying Ball's aerosp...,35 Min Ago,https://www.cnbc.com/2023/08/17/bae-buys-ball-...
5,Buy this semiconductor stock that can rally mo...,38 Min Ago,https://www.cnbc.com/2023/08/17/buy-this-semic...
6,"Here are the 11 stocks Jim Cramer is watching,...",43 Min Ago,https://www.cnbc.com/2023/08/17/here-are-the-1...
7,David Roche: China's economic model is 'washed...,1 Hour Ago,https://www.cnbc.com/2023/08/17/david-roche-ch...
8,Jim Cramer's top 10 things to watch in the sto...,1 Hour Ago,https://www.cnbc.com/2023/08/17/jim-cramers-to...
9,Self-made millionaire: 'Girl math' is all over...,1 Hour Ago,https://www.cnbc.com/2023/08/17/tori-dunlap-vi...
10,"Meta, OpenAI, Anthropic, Cohere A.I. models al...",1 Hour Ago,https://www.cnbc.com/2023/08/17/which-ai-is-mo...
11,NYC bans TikTok on government devices,2 Hours Ago,https://www.cnbc.com/2023/08/17/tiktok-banned-...
12,Stocks making the biggest premarket moves: Wal...,2 Hours Ago,https://www.cnbc.com/2023/08/17/stocks-making-...
13,Top China official urges more secrecy in the c...,2 Hours Ago,https://www.cnbc.com/2023/08/17/top-china-offi...
14,"Thursday's top analyst calls: Apple, Amazon, N...",2 Hours Ago,https://www.cnbc.com/2023/08/17/thursdays-top-...
15,Global smartphone market to hit decade low in ...,2 Hours Ago,https://www.cnbc.com/2023/08/17/global-smartph...
16,"Blue Shield of California taps Amazon, Cost Pl...",2 Hours Ago,https://www.cnbc.com/2023/08/17/blue-shield-of...
17,World’s longest rail tunnel to close for month...,3 Hours Ago,https://www.cnbc.com/2023/08/17/gotthard-base-...
18,These 3 steps can help you cover rising colleg...,3 Hours Ago,https://www.cnbc.com/2023/08/17/3-steps-can-he...
19,5 things to know before the stock market opens,3 Hours Ago,https://www.cnbc.com/2023/08/17/5-things-to-kn...
20,Europe's Stripe rival Adyen dives 28% after sl...,3 Hours Ago,https://www.cnbc.com/2023/08/17/adyen-earnings...
21,JPMorgan upgrades this eye care stock that can...,3 Hours Ago,https://www.cnbc.com/2023/08/17/jpmorgan-upgra...
22,"Some Buy Buy Baby, Harmon stores to reopen as ...",3 Hours Ago,https://www.cnbc.com/2023/08/17/buy-buy-baby-h...
23,Here's why Americans can't stop living paychec...,3 Hours Ago,https://www.cnbc.com/2023/08/17/heres-why-amer...
24,Buy this Mexico-based telecom stock after a re...,4 Hours Ago,https://www.cnbc.com/2023/08/17/buy-this-mexic...
25,"BofA upgrades this software stock, says it can...",4 Hours Ago,https://www.cnbc.com/2023/08/17/bank-of-americ...
26,China is considering countermeasures to Biden'...,6 Hours Ago,https://www.cnbc.com/2023/08/17/chinas-commerc...
27,10-year yield rises to highest level since Oct...,6 Hours Ago,https://www.cnbc.com/2023/08/17/us-treasury-yi...
28,Ukraine sees no hope for F-16s this year; Naft...,8 Hours Ago,https://www.cnbc.com/2023/08/17/ukraine-war-li...
29,Russia's inflation spike sets Kremlin and cent...,8 Hours Ago,https://www.cnbc.com/2023/08/17/russias-inflat...

In [19]:
#Question6

page8 = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

In [20]:
page8

In [21]:
soup8 = BeautifulSoup(page8.content)

In [22]:
paper = []
for i in soup8.find_all('h2', class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    paper.append(i.text)

In [23]:
authors = []
for i in soup8.find_all('span', class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)

In [24]:
dates = []
for i in soup8.find_all('span', class_="sc-1thf9ly-2 dvggWt"):
    dates.append(i.text)

In [27]:
links = []
for i in soup8.find_all('a', class_="sc-5smygv-0 fIXTHm"):
    links.append(i.get('href'))

In [29]:
AI_papers = pd.DataFrame({'Title': paper, 'Writers': authors, 'Published on': dates, 'Link': links})

In [30]:
#Question6 _ output

AI_papers

,Title,Writers,Published on,Link
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

In [ ]:
#Question7 - unfortunately I cannot access the website, I think it's not accessible in the UK and I don't have a VPN